<!DOCTYPE html>
<html lang="en">
<head>

    <title>Week 5</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!--[if lt IE 9] -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>




</head>
<body>
<div class="container">
    <h1>{{ @title }}</h1>
    <h2>Welcome to My Week 5 Page</h2>

    <p>You are logged in as {{ @username }} with password {{ @password }}</p>

    <h2>Temperature</h2>
    <p>Fahrenheit: {{ @temp }}</p>
    <p>Celsius: {{ round((@temp-32) * (5/9), 2)}}</p>

    <h2>I like {{ @color }}</h2>

    <h2>Circumference = {{ @radius * pi() * 2 }}</h2>

    <h2>Fruits</h2>
    <repeat group="{{ @fruits }}" value="{{ @fruit }}">
        <p>{{ @fruit }}</p>

    </repeat>

    <h2>Bookmarks</h2>
    <repeat group="{{ @bookmarks }}" value="{{ @bookmark }}">
        <p>
            <a href="{{@bookmark}}">{{ @bookmark }}</a>
        </p>
    </repeat>


    <h2>Desserts</h2>
    <repeat group="{{ @desserts }}" key="{{ @key }}" value="{{ @value }}">
        <div class='form-group form-check mb-0'>
        <input type='checkbox' class='form-check-input' id='{{ @key }}' name='cupcakes[]' value='{{ @key }}'>
            <label for='{{ @key }}' class='form-check-label'>{{ @value }}</label>
        </div>
    </repeat>

    <h2>Conditional Content</h2>
    <check if="{{ @preferredCustomer }}">
        <true>
            <p>Thank you for being a preferred customer!</p>
        </true>
        <false>
            <p>You're missing out!</p>
        </false>

    </check>

    <check if="{{ @lastLogin > strtotime('-1 month') }}">
        <true>
            <p>Welcome back!</p>
        </true>
        <false>
            <p>It's been a while!</p>
        </false>

    </check>






</div>
</body>
</html>